<p>fields works!</p>
<div>
    <!-- <h2>Create</h2> -->
<form action="/action_page.php">
  <label for="cars">Outside Temprature:</label>
  <select name="cars" id="cars" placeholder="temprature">
    <option value="0">Tempraurte</option>
    <option value="1">30</option>
    <option value="2">29</option>
    <option value="3">28</option>
    <option value="4">27</option>
    <option value="5">26</option>
    <option value="6">25</option>
    <option value="7">24</option>
    <option value="8">23</option>
    <option value="9">22</option>
    <option value="10">21</option>
    <option value="11">20</option>
    <option value="12">19</option>
    <option value="13">18</option>
  </select>
  <br><br>
  <label for="cars">Inside Temprature:</label>
  <select name="cars" id="cars" placeholder="temprature">
    <option value="14">Tempraurte</option>
    <option value="15">30</option>
    <option value="16">29</option>
    <option value="17">28</option>
    <option value="18">27</option>
    <option value="19">26</option>
    <option value="20">25</option>
    <option value="21">24</option>
    <option value="22">23</option>
    <option value="23">22</option>
    <option value="24">21</option>
    <option value="25">20</option>
    <option value="26">19</option>
    <option value="27">18</option>
  </select>
  <br><br>
   <label for="cars">Operations:</label>
  <select name="cars" id="cars" placeholder="temprature">
    <option value="14">Operations</option>
    <option value="15">less</option>
    <option value="16">greater</option>
    <option value="17">equal</option>
   
  </select>
   <br><br>
  <input type="submit" value="Save">
  <input type="submit" value="Cancel">
</form>
</div>

<br><br>

<div>
    <form action="/action_page.php">
        <label for="quantity">Enter your Range:</label>
        <input type="number" id="quantity" name="quantity" min="18" max="30">
        <input type="submit">
      </form>
</div>

<br><br>
<div>
    <p>Readings</p>
<p>Readings</p>
<button type="button">Edit</button>
<button type="button" >Delete</button>
</div>
