<!-- <full-calendar [options]="calendarOptions"></full-calendar> -->

<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a [routerLink]="['/']" routerLinkActive="active">Main Page</a></li>
    <li><a [routerLink]="['fullcalendar']" routerLinkActive="active">Full Calendar</a></li>
    <li><a [routerLink]="['primengcalendar']" routerLinkActive="active">Primeng Calendar</a></li>
    <li><a [routerLink]="['switch']" routerLinkActive="active">Switch</a></li>
    <li><a [routerLink]="['fields']" routerLinkActive="active">Fields</a></li>
    <li><a [routerLink]="['line-chart']" routerLinkActive="active">Line Chart</a></li>
    <li><a [routerLink]="['my-chart']" routerLinkActive="active">Bar Chart</a></li>
    <li><a [routerLink]="['pie-chart']" routerLinkActive="active">Pie Chart</a></li>
    <li><a [routerLink]="['material-demo']" routerLinkActive="active">Material Component</a></li> 
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<!-- <app-fullcalednar></app-fullcalednar>
<br><br><br><br>
<app-primengcalendar></app-primengcalendar> -->